{% extends 'base.html' %}

{% block title %}
truDefender - Home{% endblock %}
{% block head %} {{ super() }} {% endblock %}


{% block main %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Fake News Detection using ML</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Discover the truth and shield yourself from misinformation and hate speech with truDefender, the all-in-one platform that protects you by providing accurate news and detecting harmful content.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" href="{{ url_for('fake_news') }}" class="btn theme-color-btn btn-outline btn-lg px-4 me-sm-3">Go now!</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-5">
        <img src="{{ url_for( 'static' , filename='res/img/home_page_1.png') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Stock image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for( 'static' , filename='res/img/home_page_2.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Powered by Machine Leaning on Python</h1>
        <p class="lead">Experience the power of NLP and ML with truDefender, the cutting-edge platform that harnesses advanced algorithms to safeguard you against misinformation and hate speech.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" href="https://plotly.com/" class="btn theme-color-btn btn-lg px-4 me-md-2">Learn More</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
